body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:14px;
}

body,
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}
.ms-Button {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 300;
    margin: 30px 0 15px;
}

h1, .h1 {
    font-size: 52px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 28px;
    margin: 20px 0 10px;
}

h4, .h4 {
    font-size: 22px;
    line-height: 30px;
}

h5, .h5 {
    font-size: 16px;
    margin-bottom: 15px;
}

h6, .h6 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    color: #9A9A9A;
    font-weight: 300;
    line-height: 1.5;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
    font-size: 60%;
}

h1 .subtitle {
    display: block;
    margin: 0 0 30px;
}

.text-muted {
    color: #9A9A9A;
}

.text-primary, .text-primary:hover {
    color: #1D62F0 !important;
}

.text-info, .text-info:hover {
    color: #1DC7EA !important;
}

.text-success, .text-success:hover {
    color: #87CB16 !important;
}

.text-warning, .text-warning:hover {
    color: #FF9500 !important;
}

.text-danger, .text-danger:hover {
    color: #FF4A55 !important;
}

/*     General overwrite     */
body,
.wrapper {
    min-height: 100vh;
    position: relative;
}

body {
    background: rgba(203, 203, 210, 0.15);
}

a {
    color: #1DC7EA;
}

    a:hover, a:focus {
        color: #42d0ed;
        text-decoration: none;
    }


.ui-slider-handle:focus,
.navbar-toggle,
input:focus {
    outline: 0 !important;
}

.ms-PanelHost {
    top: 60px !important;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 43px;
    bottom: 0;
    right: auto;
    left: 0;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
}

    .sidebar .sidebar-wrapper {
        position: relative;
        max-height: calc(100vh - 75px);
        min-height: 100%;
        overflow: auto;
        width: 260px;
        z-index: 4;
        padding-bottom: 100px;
        background: #f8f8f8;
    }

    .sidebar .sidebar-background {
        position: absolute;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: block;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center center;
    }

    .sidebar .logo {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

        .sidebar .logo p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: #FFFFFF;
            line-height: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .sidebar .logo .simple-text {
            text-transform: uppercase;
            padding: 5px 0px;
            display: block;
            font-size: 18px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
            line-height: 30px;
        }

    .sidebar .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;
    }

        .sidebar .logo-tim img {
            width: 60px;
            height: 60px;
        }

    .sidebar .nav {
        /*margin-top: 20px;*/
        float: none;
    }

        .sidebar .nav .open > a,
        .sidebar .nav li.dropdown .dropdown-menu li:hover > a,
        .sidebar .nav li:hover > a {
            background-color: rgba(255, 255, 255, 0.13);
            opacity: 1;
        }

        .sidebar .nav li > a {
            color: #000;
            margin: 5px 0px;
            opacity: 1 !important;
            border-radius: 0px;
            display: block;
        }

        .sidebar .nav li.active > a {
            color: #FFFFFF;
            opacity: 1;
            background: #2a809f;
        }

        .sidebar .nav li.separator {
            margin: 15px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        }

            .sidebar .nav li.separator + li {
                margin-top: 31px;
            }

        .sidebar .nav p {
            margin: 0;
            line-height: 30px;
            font-size: 14px;
             margin-left: 45px;
        }

        .sidebar .nav i {
            font-size: 28px;
            float: left;
            margin-right: 15px;
            line-height: 30px;
            width: 30px;
            text-align: center;
        }

        .sidebar .nav .caret {
            margin-top: 13px;
            position: absolute;
            right: 30px;
        }

    .sidebar .logo {
        padding: 10px 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        background: #000;
    }

        .sidebar .logo p {
            float: left;
            font-size: 20px;
            margin: 10px 10px;
            color: #FFFFFF;
            line-height: 20px;
        }

        .sidebar .logo .simple-text {
            text-transform: uppercase;
            padding: 5px 0px;
            display: block;
            font-size: 18px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
            line-height: 30px;
        }

    .sidebar .logo-tim {
        border-radius: 50%;
        border: 1px solid #333;
        display: block;
        height: 61px;
        width: 61px;
        float: left;
        overflow: hidden;
    }

        .sidebar .logo-tim img {
            width: 60px;
            height: 60px;
        }

    .sidebar:after, .sidebar:before {
        display: block;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .sidebar:before {
        opacity: .33;
        background: #000000;
    }

    .sidebar:after {
        background: #787878;
        background: -moz-linear-gradient(top, #787878 0%, #343434 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, #343434));
        background: -webkit-linear-gradient(top, #787878 0%, #343434 100%);
        background: -o-linear-gradient(top, #787878 0%, #343434 100%);
        background: -ms-linear-gradient(top, #787878 0%, #343434 100%);
        background: linear-gradient(to bottom, #787878 0%, #343434 100%);
        background-size: 150% 150%;
        z-index: 3;
        opacity: 1;
    }

    .sidebar[data-image]:after, .sidebar.has-image:after {
        opacity: .77;
    }


.main-panel {
    position: relative;
    z-index: 2;
    float: right;
    width:79%;
    width: -webkit-calc(100% - 260px);
    width: -moz-calc(100% - 260px);
    width: calc(100% - 260px);
}

    .main-panel > .content {
        padding: 30px 15px;
        min-height: calc(100% - 123px);
    }

    .main-panel > .footer {
        border-top: 1px solid #e7e7e7;
    }

    .main-panel .navbar {
        margin-bottom: 0;
    }

.sidebar,
.main-panel {
    max-height: 100%;
    height: 100%;
    top: 65px;
    -webkit-transition-property: top,bottom;
    transition-property: top,bottom;
    -webkit-transition-duration: .2s,.2s;
    transition-duration: .2s,.2s;
    -webkit-transition-timing-function: linear,linear;
    transition-timing-function: linear,linear;
    -webkit-overflow-scrolling: touch;
}


.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}

.navbar {
    border: 0;
    font-size: 16px;
    border-radius: 0;
}

    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
    }

    .navbar .navbar-brand {
        font-weight: 400;
        margin: 5px 0px;
        padding: 15px 15px;
        font-size: 20px;
    }

    .navbar .navbar-nav > li > a {
        padding: 10px 15px;
        margin: 10px 3px;
        position: relative;
        font-size:14px;
    }

        .navbar .navbar-nav > li > a.btn {
            margin: 15px 3px;
            padding: 8px 16px;
        }

        .navbar .navbar-nav > li > a.btn-round {
            margin: 16px 3px;
        }

        .navbar .navbar-nav > li > a [class^="fa"] {
            font-size: 19px;
            position: relative;
            line-height: 16px;
            top: 1px;
        }

    .navbar .navbar-nav .notification {
        position: absolute;
        background-color: #FB404B;
        text-align: center;
        border-radius: 10px;
        min-width: 18px;
        padding: 0 5px;
        height: 18px;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: bold;
        line-height: 18px;
        top: 0px;
        left: 7px;
    }

    .navbar .btn {
        margin: 15px 3px;
        font-size: 14px;
    }



    .navbar.fixed {
        width: calc(100% - $sidebar-width);
        right: 0;
        left: auto;
        border-radius: 0;
    }

.navbar-nav > li > .dropdown-menu {
    border-radius: 10px;
    margin-top: -5px;
}

.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand {
    color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

    .navbar-transparent .navbar-brand:focus, .navbar-transparent .navbar-brand:hover, [class*="navbar-ct"] .navbar-brand:focus, [class*="navbar-ct"] .navbar-brand:hover {
        background-color: transparent;
        opacity: 1;
        filter: alpha(opacity=100);
    }

.navbar-transparent .navbar-nav > li > a:not(.btn), [class*="navbar-ct"] .navbar-nav > li > a:not(.btn) {
    color: #FFFFFF;
    border-color: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.navbar-transparent .navbar-nav > .active > a:not(.btn),
.navbar-transparent .navbar-nav > .active > a:hover:not(.btn),
.navbar-transparent .navbar-nav > .active > a:focus:not(.btn),
.navbar-transparent .navbar-nav > li > a:hover:not(.btn),
.navbar-transparent .navbar-nav > li > a:focus:not(.btn), [class*="navbar-ct"] .navbar-nav > .active > a:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > .active > a:focus:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:hover:not(.btn),
[class*="navbar-ct"] .navbar-nav > li > a:focus:not(.btn) {
    background-color: transparent;
    border-radius: 3px;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-transparent .navbar-nav .nav > li > a.btn:hover, [class*="navbar-ct"] .navbar-nav .nav > li > a.btn:hover {
    background-color: transparent;
}

.navbar-transparent .navbar-nav > .dropdown > a .caret,
.navbar-transparent .navbar-nav > .dropdown > a:hover .caret,
.navbar-transparent .navbar-nav > .dropdown > a:focus .caret, [class*="navbar-ct"] .navbar-nav > .dropdown > a .caret,
[class*="navbar-ct"] .navbar-nav > .dropdown > a:hover .caret,
[class*="navbar-ct"] .navbar-nav > .dropdown > a:focus .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus, [class*="navbar-ct"] .navbar-nav > .open > a,
[class*="navbar-ct"] .navbar-nav > .open > a:hover,
[class*="navbar-ct"] .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-transparent .btn-default, [class*="navbar-ct"] .btn-default {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

    .navbar-transparent .btn-default.btn-fill, [class*="navbar-ct"] .btn-default.btn-fill {
        color: #9A9A9A;
        background-color: #FFFFFF;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }

        .navbar-transparent .btn-default.btn-fill:hover,
        .navbar-transparent .btn-default.btn-fill:focus,
        .navbar-transparent .btn-default.btn-fill:active,
        .navbar-transparent .btn-default.btn-fill.active,
        .navbar-transparent .open .dropdown-toggle.btn-fill.btn-default, [class*="navbar-ct"] .btn-default.btn-fill:hover,
        [class*="navbar-ct"] .btn-default.btn-fill:focus,
        [class*="navbar-ct"] .btn-default.btn-fill:active,
        [class*="navbar-ct"] .btn-default.btn-fill.active,
        [class*="navbar-ct"] .open .dropdown-toggle.btn-fill.btn-default {
            border-color: #FFFFFF;
            opacity: 1;
            filter: alpha(opacity=100);
        }

.navbar-transparent .dropdown-menu .divider {
    background-color: rgba(255, 255, 255, 0.2);
}

.nav-open .nav .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

.navbar-default {
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

    .navbar-default .navbar-nav > li > a:not(.btn) {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:not(.btn):hover,
        .navbar-default .navbar-nav > .active > a:not(.btn):focus,
        .navbar-default .navbar-nav > li > a:not(.btn):hover,
        .navbar-default .navbar-nav > li > a:not(.btn):focus {
            background-color: transparent;
            border-radius: 3px;
            color: #1DC7EA;
            opacity: 1;
            filter: alpha(opacity=100);
        }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-bottom-color: #1DC7EA;
        border-top-color: #1DC7EA;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-color: transparent;
        color: #1DC7EA;
    }

    .navbar-default .navbar-nav .navbar-toggle:hover, .navbar-default .navbar-nav .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default:not(.navbar-transparent) .btn-default:hover {
        color: #1DC7EA;
        border-color: #1DC7EA;
    }

    .navbar-default:not(.navbar-transparent) .btn-neutral,
    .navbar-default:not(.navbar-transparent) .btn-neutral:hover,
    .navbar-default:not(.navbar-transparent) .btn-neutral:active {
        color: #9A9A9A;
    }



.btn-group.select .dropdown-menu {
    min-width: 100%;
}

@media (min-width: 992px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-nav > li > .dropdown-menu, .dropdown .dropdown-menu {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
        -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
        transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
    }

    .navbar-nav > li.open > .dropdown-menu, .dropdown.open .dropdown-menu {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 29px -50px;
        -moz-transform-origin: 29px -50px;
        -o-transform-origin: 29px -50px;
        -ms-transform-origin: 29px -50px;
        transform-origin: 29px -50px;
    }

    .sidebar .nav-mobile-menu {
        display: none;
    }

    .navbar-nav > li > .dropdown-menu:before {
        border-bottom: 11px solid rgba(0, 0, 0, 0.2);
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -11px;
    }

    .navbar-nav > li > .dropdown-menu:after {
        border-bottom: 11px solid #FFFFFF;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        content: "";
        display: inline-block;
        position: absolute;
        left: 12px;
        top: -10px;
    }

    .navbar-nav.navbar-right > li > .dropdown-menu:before {
        left: auto;
        right: 12px;
    }

    .navbar-nav.navbar-right > li > .dropdown-menu:after {
        left: auto;
        right: 12px;
    }

    .footer:not(.footer-big) nav > ul li:first-child {
        margin-left: 0;
    }

    body > .navbar-collapse.collapse {
        display: none !important;
    }

    .card form [class*="col-"] {
        padding: 6px;
    }

        .card form [class*="col-"]:first-child {
            padding-left: 15px;
        }

        .card form [class*="col-"]:last-child {
            padding-right: 15px;
        }
}

/*          Changes for small display      */
@media (max-width: 991px) {
    .main-panel {
        width: 100%;
    }
    .main-panel {
        top: 125px;
    }
    .navbar-transparent {
        padding-top: 15px;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .nav > li:hover {
        background: none !important ;
    }

    body {
        position: relative;
    }

    .main-panel {
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        left: 0;
    }

    .navbar .container {
        left: 0;
        width: 100%;
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        position: relative;
    }

    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapse.in,
    .navbar .navbar-collapse.collapsing {
        display: none !important;
    }

    .navbar-nav > li {
        float: left;
        position: relative;
        display: block;
    }

    .navbar-collapse,
    .sidebar {
        position: fixed;
        display: block;
        top: 0;
        height: 100%;
        right: 0;
        left: auto;
        z-index: 1032;
        visibility: visible;
        background-color: #999;
        overflow-y: visible;
        border-top: none;
        text-align: left;
        padding: 0;
        -webkit-transform: translate3d(260px, 0, 0);
        -moz-transform: translate3d(260px, 0, 0);
        -o-transform: translate3d(260px, 0, 0);
        -ms-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
        -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }

        .navbar-collapse > ul,
        .sidebar > ul {
            position: relative;
            z-index: 4;
            overflow-y: scroll;
            height: calc(100vh - 61px);
            width: 100%;
        }
    .helpLink {
        padding:15px 0 0 0 !important;
      }
    
        
        .navbar-collapse::before,
        .sidebar::before {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: #282828;
            display: block;
            content: "";
            z-index: 1;
        }

        .navbar-collapse .logo,
        .sidebar .logo {
            position: relative;
            z-index: 4;
        }

        .navbar-collapse .nav li > a,
        .sidebar .nav li > a {
            padding: 10px 15px;
        }

        .navbar-collapse .nav,
        .sidebar .nav {
            margin-top: 10px;
        }

    .ms-PanelHost {
        top: 109px !important;
    }

        .navbar-right {
            margin-top: 10px;
            background: #202e3a !important;
        }

    .movRight {
        float: left !important;
    }
  
    
    .UserName {
        display: none !important;
    }
    .modal-dialog {
       
        margin: 150px auto !important;
    }
    
        .navbar-right li > a {
            color: #fff !important;
        }
        .navbar-right li  {
           
            padding: 4px 4px;
        }
    .UserImage {
        top:8px !important;
    }
   
    .navbar-nav .open .dropdown-menu {
        position: absolute !important;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: white !important;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }
        
        .nav-open .navbar-collapse,
        .nav-open .sidebar {
            -webkit-transform: translate3d(0px, 0, 0);
            -moz-transform: translate3d(0px, 0, 0);
            -o-transform: translate3d(0px, 0, 0);
            -ms-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
        }

    .nav-open .navbar .container {
        left: -250px;
    }

    .nav-open .main-panel {
        left: 0;
        -webkit-transform: translate3d(-260px, 0, 0);
        -moz-transform: translate3d(-260px, 0, 0);
        -o-transform: translate3d(-260px, 0, 0);
        -ms-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
    }

    .nav-open .menu-on-left .sidebar {
        -webkit-transform: translate3d(0px, 0, 0);
        -moz-transform: translate3d(0px, 0, 0);
        -o-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }

    .nav-open .menu-on-left .main-panel {
        left: 0;
        -webkit-transform: translate3d(260px, 0, 0);
        -moz-transform: translate3d(260px, 0, 0);
        -o-transform: translate3d(260px, 0, 0);
        -ms-transform: translate3d(260px, 0, 0);
        transform: translate3d(260px, 0, 0);
    }

    .menu-on-left .sidebar {
        left: 0;
        right: auto;
        -webkit-transform: translate3d(-260px, 0, 0);
        -moz-transform: translate3d(-260px, 0, 0);
        -o-transform: translate3d(-260px, 0, 0);
        -ms-transform: translate3d(-260px, 0, 0);
        transform: translate3d(-260px, 0, 0);
    }

    .menu-on-left #bodyClick {
        right: 0;
        left: auto;
    }

    .navbar-toggle .icon-bar {
        display: block;
        position: relative;
        background-color: #ffffff !important;
        width: 24px;
        height: 4px;
        border-radius: 1px;
        margin: 0 auto;
    }

    .navbar-header .navbar-toggle {
        margin: 10px 15px 10px 0;
        width: 40px;
        height: 40px;
        border:none;
    }

    .bar1,
    .bar2,
    .bar3 {
        outline: 1px solid transparent;
    }

    .bar1 {
        top: 0px;
        -webkit-animation: topbar-back 500ms linear 0s;
        -moz-animation: topbar-back 500ms linear 0s;
        animation: topbar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .bar2 {
        opacity: 1;
    }

    .bar3 {
        bottom: 0px;
        -webkit-animation: bottombar-back 500ms linear 0s;
        -moz-animation: bottombar-back 500ms linear 0s;
        animation: bottombar-back 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .toggled .bar1 {
        top: 6px;
        -webkit-animation: topbar-x 500ms linear 0s;
        -moz-animation: topbar-x 500ms linear 0s;
        animation: topbar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    .toggled .bar2 {
        opacity: 0;
    }

    .toggled .bar3 {
        bottom: 6px;
        -webkit-animation: bottombar-x 500ms linear 0s;
        -moz-animation: bottombar-x 500ms linear 0s;
        animation: bottombar-x 500ms 0s;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    @keyframes topbar-x {
        0% {
            top: 0px;
            transform: rotate(0deg);
        }

        45% {
            top: 6px;
            transform: rotate(145deg);
        }

        75% {
            transform: rotate(130deg);
        }

        100% {
            transform: rotate(135deg);
        }
    }

    @-webkit-keyframes topbar-x {
        0% {
            top: 0px;
            -webkit-transform: rotate(0deg);
        }

        45% {
            top: 6px;
            -webkit-transform: rotate(145deg);
        }

        75% {
            -webkit-transform: rotate(130deg);
        }

        100% {
            -webkit-transform: rotate(135deg);
        }
    }

    @-moz-keyframes topbar-x {
        0% {
            top: 0px;
            -moz-transform: rotate(0deg);
        }

        45% {
            top: 6px;
            -moz-transform: rotate(145deg);
        }

        75% {
            -moz-transform: rotate(130deg);
        }

        100% {
            -moz-transform: rotate(135deg);
        }
    }

    @keyframes topbar-back {
        0% {
            top: 6px;
            transform: rotate(135deg);
        }

        45% {
            transform: rotate(-10deg);
        }

        75% {
            transform: rotate(5deg);
        }

        100% {
            top: 0px;
            transform: rotate(0);
        }
    }

    @-webkit-keyframes topbar-back {
        0% {
            top: 6px;
            -webkit-transform: rotate(135deg);
        }

        45% {
            -webkit-transform: rotate(-10deg);
        }

        75% {
            -webkit-transform: rotate(5deg);
        }

        100% {
            top: 0px;
            -webkit-transform: rotate(0);
        }
    }

    @-moz-keyframes topbar-back {
        0% {
            top: 6px;
            -moz-transform: rotate(135deg);
        }

        45% {
            -moz-transform: rotate(-10deg);
        }

        75% {
            -moz-transform: rotate(5deg);
        }

        100% {
            top: 0px;
            -moz-transform: rotate(0);
        }
    }

    @keyframes bottombar-x {
        0% {
            bottom: 0px;
            transform: rotate(0deg);
        }

        45% {
            bottom: 6px;
            transform: rotate(-145deg);
        }

        75% {
            transform: rotate(-130deg);
        }

        100% {
            transform: rotate(-135deg);
        }
    }

    @-webkit-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -webkit-transform: rotate(0deg);
        }

        45% {
            bottom: 6px;
            -webkit-transform: rotate(-145deg);
        }

        75% {
            -webkit-transform: rotate(-130deg);
        }

        100% {
            -webkit-transform: rotate(-135deg);
        }
    }

    @-moz-keyframes bottombar-x {
        0% {
            bottom: 0px;
            -moz-transform: rotate(0deg);
        }

        45% {
            bottom: 6px;
            -moz-transform: rotate(-145deg);
        }

        75% {
            -moz-transform: rotate(-130deg);
        }

        100% {
            -moz-transform: rotate(-135deg);
        }
    }

    @keyframes bottombar-back {
        0% {
            bottom: 6px;
            transform: rotate(-135deg);
        }

        45% {
            transform: rotate(10deg);
        }

        75% {
            transform: rotate(-5deg);
        }

        100% {
            bottom: 0px;
            transform: rotate(0);
        }
    }

    @-webkit-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -webkit-transform: rotate(-135deg);
        }

        45% {
            -webkit-transform: rotate(10deg);
        }

        75% {
            -webkit-transform: rotate(-5deg);
        }

        100% {
            bottom: 0px;
            -webkit-transform: rotate(0);
        }
    }

    @-moz-keyframes bottombar-back {
        0% {
            bottom: 6px;
            -moz-transform: rotate(-135deg);
        }

        45% {
            -moz-transform: rotate(10deg);
        }

        75% {
            -moz-transform: rotate(-5deg);
        }

        100% {
            bottom: 0px;
            -moz-transform: rotate(0);
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @-moz-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    
  

        .navbar-nav .open .dropdown-menu > li > a {
            padding: 10px 15px 10px 60px;
            border-radius: 4px;
            color: inherit;
        }

            .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus {
                background-color: transparent;
            }

    [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:hover,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: rgba(255, 255, 255, 0.1);
    }

    [class*="navbar-"] .navbar-nav.navbar-nav .open .dropdown-menu > li > a:active {
        opacity: 1;
    }

    [class*="navbar-"] .navbar-nav .dropdown > a:hover .caret {
        border-bottom-color: #fff;
        border-top-color: #fff;
    }

    [class*="navbar-"] .navbar-nav .dropdown > a:active .caret {
        border-bottom-color: white;
        border-top-color: white;
    }

    .dropdown-menu {
        display: none;
    }

    .navbar-fixed-top {
        -webkit-backface-visibility: hidden;
    }

    #bodyClick {
        height: 100%;
        width: calc(100% - 260px);
        position: fixed;
        opacity: 0;
        top: 0;
        left: 0;
        content: "";
        z-index: 9999;
        overflow-x: hidden;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: transparent !important;
    }

    .btn.dropdown-toggle {
        margin-bottom: 0;
    }

    .navbar-collapse.collapse {
        height: 100% !important;
    }

        .navbar-collapse.collapse.in {
            display: block;
        }

    .navbar-header .collapse, .navbar-toggle {
        display: block !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-collapse .nav p {
        font-size: 14px;
        margin: 0;
    }

    .navbar-collapse [class^="pe-7s-"] {
        float: left;
        font-size: 20px;
        margin-right: 10px;
    }

    .nav > li:hover {
        background: #ccc;
    }
}



@media (min-width: 992px) {

    .navbar-nav p {
        line-height: normal;
        margin: 0;
    }
    .MailConntent {
        border-left: 0px solid #ccc;
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .ms-persona-details {
        padding: 0 12px;
        vertical-align: middle;
        overflow: hidden;
        text-align: left;
        padding-left: 60px;
        display: table-cell;
        width: 0 !important;
    }
}
